My Data Science Notebook

In this notebook, I'll explore various data science concepts and demonstrate some basic arithmetic operations using Python.

## Data Science Languages

- Python
- R
- SQL

## Data Science Libraries

- Pandas
- NumPy
- Matplotlib
- Seaborn

## Data Science Tools

| Tool        | Description                      |
|-------------|----------------------------------|
| Jupyter     | Interactive computing            |
| TensorFlow  | Machine learning library         |
| Scikit-learn| Machine learning library         |
| Keras       | Deep learning library            |
| Plotly      | Data visualization library       |

## Arithmetic Expression Examples

Let's explore some basic arithmetic expressions using Python.

In [1]:
# Multiply and add numbers
a = 5
b = 10
multiply = a * b
add = a + b
multiply, add

(50, 15)

In [2]:
# Convert minutes to hours
minutes = 120
hours = minutes / 60
hours

2.0

## Objectives

1. Explore basic data science concepts.
2. Demonstrate arithmetic operations using Python.

## Author

Yuktha B N